In [123]:
import pandas as pd
import numpy as np

In [124]:
df=pd.read_csv('data.csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [126]:
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [127]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [128]:
df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [129]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder 
from sklearn.preprocessing import StandardScaler

In [130]:
df_gender_label=LabelEncoder()
df['Gender']=df_gender_label.fit_transform(df['Gender'])

In [131]:
df['Gender'].unique()

array([0, 1])

In [132]:
df_Geography_one=OneHotEncoder()
df_Geography=df_Geography_one.fit_transform(df[['Geography']]).toarray()

In [133]:
df_Geography

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [134]:
df_data=df_Geography_one.get_feature_names_out(['Geography'])
df_data

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [135]:
df_data_frame=pd.DataFrame(df_Geography,columns=df_data)
df_data_frame

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [136]:
df=pd.concat([df.drop('Geography',axis=1),df_data_frame],axis=1)

In [137]:
df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int32
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_France   10000 non-null  float64
 11  Geography_Germany  10000 non-null  float64
 12  Geography_Spain    10000 non-null  float64
dtypes: float64(5), int32(1), int64(7)
memory usage: 976.7 KB

In [139]:
df.isnull().sum()

CreditScore          0
Gender               0
Age                  0
Tenure               0
Balance              0
NumOfProducts        0
HasCrCard            0
IsActiveMember       0
EstimatedSalary      0
Exited               0
Geography_France     0
Geography_Germany    0
Geography_Spain      0
dtype: int64

In [140]:
import pickle

In [141]:
df[df.duplicated()]

Empty DataFrame
Columns: [CreditScore, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary, Exited, Geography_France, Geography_Germany, Geography_Spain]
Index: []

In [142]:
with open('onehotencoder.pkl','wb') as f:
    pickle.dump(df_Geography_one,f)
with open('labelencoder.pkl','wb') as f:
    pickle.dump(df_gender_label,f)

In [143]:
from sklearn.model_selection import train_test_split

In [144]:
x=df.drop('Exited',axis=1)
y=df['Exited']

In [145]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
stander=StandardScaler()
x_train=stander.fit_transform(x_train)
x_test=stander.transform(x_test)

In [146]:
x_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [147]:
df

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [148]:
import pickle

In [149]:

with open('stander.pkl','wb') as f:
    pickle.dump(stander,f)

In [150]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\navee\appdata\roaming\python\python312\site-packages (2.17.1)
Requirement already satisfied: tensorflow-intel==2.17.1 in c:\users\navee\appdata\roaming\python\python312\site-packages (from tensorflow) (2.17.1)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (2.3.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.3.1 in c:\users\navee\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.1->tensorflow) (0.4.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (3.4.0)
Requirement already satisfied: packaging in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (24.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (4.25.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (2.32.3)
Requirement already satisfied: setuptools in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (75.1.0)
Requirement already satisfied: six>=1.12.0 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (4.14.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (1.73.1)
Requirement already satisfied: tensorboard<2.18,>=2.17 in c:\users\navee\appdata\roaming\python\python312\site-packages (from tensorflow-intel==2.17.1->tensorflow) (2.17.1)
Requirement already satisfied: keras>=3.2.0 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (3.10.0)
Requirement already satisfied: numpy<2.0.0,>=1.26.0 in c:\users\navee\anaconda3\lib\site-packages (from tensorflow-intel==2.17.1->tensorflow) (1.26.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\navee\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.1->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\navee\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.1->tensorflow) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\navee\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.1->tensorflow) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\navee\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.1->tensorflow) (2025.4.26)
Requirement already satisfied: markdown>=2.6.8 in c:\users\navee\anaconda3\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.1->tensorflow) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\navee\anaconda3\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.1->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\navee\anaconda3\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.1->tensorflow) (3.1.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\navee\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.17.1->tensorflow) (0.44.0)
Requirement already satisfied: rich in c:\users\navee\anaconda3\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.1->tensorflow) (13.7.1)
Requirement already satisfied: namex in c:\users\navee\anaconda3\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.1->tensorflow) (0.1.0)
Requirement already satisfied: optree in c:\users\navee\anaconda3\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.1->tensorflow) (0.16.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\navee\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.18,>=2.17->tensorflow-intel==2.17.1->tensorflow) (2.1.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\navee\anaconda3\lib\site-packages (from rich->keras>=3.2.0->tensorflow-intel==2.17.1->tensorflow) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\navee\anaconda3\lib\site-packages (from rich->keras>=3.2.0->tensorflow-intel==2.17.1->tensorflow) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\navee\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.2.0->tensorflow-intel==2.17.1->tensorflow) (0.1.0)

WARNING: Ignoring invalid distribution ~entoml (C:\Users\navee\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~entoml (C:\Users\navee\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~entoml (C:\Users\navee\anaconda3\Lib\site-packages)

In [151]:
##ANN IMPLIMENTATION
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping

from tensorflow.keras import Input

In [152]:
(x_train.shape[1],)

(12,)

In [153]:
model=Sequential ([
    Input(shape=(x_train.shape[1],)),
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')

    ]
)

c:\Users\navee\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [154]:
##optimaizers and loss function in classification
opt=tf.keras.optimizers.Adam(learning_rate=0.01)
loss=tf.keras.losses.BinaryCrossentropy()
loss

In [155]:
model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [156]:
import datetime

In [157]:
##using tensorboard to convert file
file='logs/file/'+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensor_file=TensorBoard(log_dir=file,histogram_freq=1)

In [158]:
earlystop=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [159]:
visvalization=model.fit(
    x_train,y_train,validation_data=(x_test,y_test),epochs=100,
    callbacks=(tensor_file,earlystop)
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7997 - loss: 0.4495 - val_accuracy: 0.8490 - val_loss: 0.3681
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8576 - loss: 0.3512 - val_accuracy: 0.8590 - val_loss: 0.3438
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8598 - loss: 0.3440 - val_accuracy: 0.8535 - val_loss: 0.3471
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8587 - loss: 0.3434 - val_accuracy: 0.8590 - val_loss: 0.3490
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8671 - loss: 0.3332 - val_accuracy: 0.8590 - val_loss: 0.3489
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8649 - loss: 0.3337 - val_accuracy: 0.8560 - val_loss: 0.3401
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8589 - loss: 0.3327 - val_accuracy: 0.8595 - val_loss: 0.3428
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8719 - loss: 0.3246 - val_accuracy: 0.8580 - val_loss: 0.3547
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8594 - loss: 0.3371 - val_accuracy: 0.8600 - val_loss: 0.3479
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8642 - loss: 0.3269 - val_accuracy: 0.8580 - val_loss: 0.3428
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8658 - loss: 0.3248 - val_accuracy: 0.8500 - val_loss: 0.3481
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8756 - loss: 0.3111 - val_accuracy: 0.8575 - val_loss: 0.3423
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8702 - loss: 0.3169 - val_accuracy: 0.8590 - val_loss: 0.3494
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8735 - loss: 0.3141 - val_accuracy: 0.8605 - val_loss: 0.3484
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8745 - loss: 0.3127 - val_accuracy: 0.8480 - val_loss: 0.3465
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8748 - loss: 0.2973 - val_accuracy: 0.8540 - val_loss: 0.3468

In [160]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [161]:
##load the data
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [162]:
%tensorboard --logdir 'logs/file'

Reusing TensorBoard on port 6006 (pid 18920), started 11:11:17 ago. (Use '!kill 18920' to kill it.)